@page "/"

<PageTitle>Flashcards App</PageTitle>

<div class="text-center mt-5">
    <h1 class="display-4">Witaj w FiszkiApp!</h1>
    <p class="lead">Prosty sposób na naukę przed egzaminem.</p>
    <hr class="my-4">
    <p>Wybierz tryb, aby rozpocząć:</p>
    
    <div class="d-flex justify-content-center gap-3">
        <a href="manage" class="btn btn-primary btn-lg">
            <i class="bi bi-plus-circle"></i> Dodaj Fiszki
        </a>
        <a href="study" class="btn btn-success btn-lg">
            <i class="bi bi-play-circle"></i> Rozpocznij Naukę
        </a>
    </div>
</div>